body {
    height: 100%;
}

.starter-template {
    text-align: center;
}

.drop-cap::first-letter {
    float: left;
    font-family: Georgia;
    font-size: 4rem;
    line-height: 4rem;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.nav-selected {
    color: white !important;
    text-decoration: border-bottom-style: ;
    border-bottom-color: white;
}