{{ partial "head.html" . }}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="container">
	
	{{ partial "nav.html" . }}

	<main>
		<header>
			<h1>{{ .Title }}</h1>
		</header>
        <div class="row">
            <div class="col-sm-6">
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="arttu-viljakainen"><a class="LI-simple-link" href='https://fi.linkedin.com/in/arttu-viljakainen?trk=profile-badge'>Arttu Viljakainen</a></div>			
            </div>
            <div class="col-sm-6">
                <article>
                {{ .Content }}
                </article>
            </div>
            <div class="">
                <div class="col-sm-12">
                    <strong>Follow me</strong>
                <p>You can contact me in English or in Finnish.</p>
                </div>
                <div class="col-sm-12">
                    <p class="">
                        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/arttuv">
                            <span class="fa fa-twitter"></span>
                        </a>
                        I tweet (rarely) about tech, software development and usability. Some of the retweets may be in Finnish.
                    </p>
                </div>

                <div class="col-sm-12">
                    <p class="">
                        <a class="btn btn-social-icon btn-linkedin" href="www.linkedin.com/in/arttu-viljakainen">
                            <span class="fa fa-linkedin"></span>
                        </a>
                        LinkedIn is the place to connect with the people I've worked with or studied with, or I otherwise know professionally.
                    </p>
                </div>
            </div>
        </div>
            
	</main>
	<div id="tags-area" class="text-center center-block">
		<ul id="tags">
			{{ range .Params.tags }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
			{{ end }}
		</ul>
	</div>

	<div id="bottom-nav" class="text-center center-block">
		<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
	</div>

</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
