{{ partial "head.html" . }}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="container">
	
	{{ partial "nav.html" . }}

	<main>
		<header>
			<h1>{{ .Title }}</h1>
		</header>
        <div class="row">
  <div class="col-sm-6">
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="arttu-viljakainen"><a class="LI-simple-link" href='https://fi.linkedin.com/in/arttu-viljakainen?trk=profile-badge'>Arttu Viljakainen</a></div>			
  </div>
		  <div class="col-sm-6">
        <article>
            {{ .Content }}
		</article>
        </div>
	</main>
    </div>
	<div id="tags-area" class="text-center center-block">
		<ul id="tags">
			{{ range .Params.tags }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
			{{ end }}
		</ul>
	</div>

	<div id="bottom-nav" class="text-center center-block">
		<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
	</div>

</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
