---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ArticleCard from "../../components/ArticleCard.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const allPosts = (await getCollection("writings")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---
<BaseLayout title={`#${tag}`} description={`All posts tagged with ${tag}`} robots="noindex,follow">
  <div class="writings-container">
    <h1>#{tag}</h1>
    <div class="writing-listing">
      {posts.map((post, index) => (
        <ArticleCard post={post} featured={index === 0} />
      ))}
    </div>
  </div>
</BaseLayout>

<style>
  .writings-container {
    max-width: 70ch;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }
</style>
