---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../writings/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const title = "Tag Index";
const description = "Listing of all the tags used on this site.";
---  
<BaseLayout title={title} description={description}>
    <div class="tags">
      <ul>
        {tags.map((tag) => (
          <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
        ))}
      </ul>
    </div>
</BaseLayout>
    
<style>
  ul li {
		padding-bottom: 0.4rem;
	}
</style>
