---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
const allPosts = await Astro.glob('../pages/writings/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
const title = "Writings";
const description = "A collection of my writings.";
---
<BaseLayout title={title} description={description}>
	<div class="writing-listing">
	<ul>
		{nonDraftPosts.map((post) => (
			<li>
				<FormattedDate date={new Date(post.frontmatter.pubDate)}/>
				&emsp;
				<a href={post.url}>{post.frontmatter.title}</a>
			</li>))}
	</ul>
</div>
</BaseLayout>
<style>

	.writing-listing {
		min-height: 80vh;
		display: flex;
		align-items: center;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style-type: none;
		padding-left: 1rem;
		width: 100%;
	}
	ul li {
		display: flex;
		padding-bottom: 0.8rem;
	}
	ul li :global(time) {
		text-align: right;
		flex: 0 0 10rem;
	}

	@media (max-width: 756px) {
		.writing-listing ul li  {
				font-size: smaller;
		}
	
	}

	@media (max-width: 459px) {
		.writing-listing ul li  {
				padding-bottom: 0.3rem;
		}

		ul li :global(time) {
			flex: 0 0 6rem;
		}
	
	}


</style>