
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="ml-auto">
				<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/arttuv">
					<span class="fa fa-twitter"></span>
				</a>
				<a class="btn btn-social-icon btn-linkedin" href="www.linkedin.com/in/arttu-viljakainen">
					<span class="fa fa-linkedin"></span>
				</a>
		</div>
    
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
{{ template "_internal/google_analytics_async.html" . }}