<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-light text-white">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	 aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button> 
			
			<div class="navbar-brand">

				{{ if isset .Site.Params "title" }}
					<a class="navbar-brand text-primary" href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a> 
				{{ else }}
					<a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> 
				{{ end }}
				
			</div>


	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav ml-auto">
			{{ $url := .Site.BaseURL }}
			{{ range .Site.Params.navlinks }}
			<li class="nav-item">
				<a class="nav-link" href="{{ $url }}{{ .url }}">{{ .name }}</a>
			</li>
			{{ end }}
		</ul>
		<!--
		<form class="form-inline mt-2 mt-md-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn my-2 my-sm-0 btn-primary" type="submit">Search</button>
		</form>
		-->

	</div>

</nav>

