---
import MastodonEmbedded from './MastodonEmbedded.astro';
const { comment } = Astro.props;
const { Content } = await comment.render();
---

<div class="comment">
    {comment.data.target && <MastodonEmbedded statusId={comment.data.target} />}
    <div class="comment-content">
        <Content />
    </div>
</div>

<style>
    .comment-content {
        padding: 0rem 2rem 0rem 2rem;
    }
</style>