---
const platform = "github";
const username = "withastro";
---
<footer class="footer">
  <div class="footer-content">
    <div>
      <div class="rss-subscribe">
        <h1>Follow the updates on this site</h1>
        <div>
          <a href="/rss.xml">RSS Link</a>
          <p>Yes, RSS still exists \o/ Full text is provided in RSS so you'll never need to visit this site if you don't want to.</p>
        </div>
      </div>
    </div>
    <nav class="bottom-navigation">
      <ul style={{ listStyle: `none`}}>
        <li><a href="/">Home</a></li>
        <li><a href="/writings/">Writings</a></li>
        <li><a href="/author/">Author</a></li>
      </ul>
    </nav>
    </div>
    <div class="copyright">
      <p>
      © {new Date().getFullYear()} Arttu Viljakainen. 
      All texts published are under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a> - attribution is required. Ask permission before using any photos.
      Built with
      {` `}
      <a href="https://astro.build">Astro</a>, icons by <a href="https://webkul.github.io/vivid/">Vivid</a> and <a href="https://www.iconfinder.com/Flatart">Flatart</a>
      </p>
  </div>
</footer>  

<style>
  footer {
    background-color: white;
    padding: 1rem;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
  }

  footer .copyright p {
    margin-top: 1rem;
    text-align: center;
    font-size: small;
  }

  footer nav a {
    color: black;
    text-decoration: none;
  }

  .bottom-navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: normal;
    text-align: right;
  }

  .bottom-navigation ul {
    padding-inline-start: 1rem;
    display: flex;
    flex-direction: column;
  }

  .bottom-navigation li {
    display: flex;
    justify-content: right;
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
  }

  .bottom-navigation li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .rss-subscribe h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .rss-subscribe p {
    font-size: smaller;
  }

  .rss-subscribe a {
    color: #2c78ca;
  }

</style>