---
const platform = "github";
const username = "withastro";
---
<footer class="footer">
  <h2>arttuv.com</h2>
  <div class="footer-content">
    <div>
      <div class="rss-subscribe">
        <h3>Follow the updates on this site</h3>
        <div>
          <a href="/rss.xml">RSS Link</a>
          <p>Yes, RSS still exists \o/ Full text is provided in RSS so you'll never need to visit this site if you don't want to.</p>
          <p>I don't have a test for RSS so I've broken that multiple times already. Please notify if you have issues.</p>
        </div>
      </div>
    </div>
    <div class="footer-read-more">
      <h3>Read more</h3>
      <a href="/author">Who am I?</a>
      <p>I write about <a href="http://localhost:3000/tags/dev">software development</a>, <a href="http://localhost:3000/tags/hci">human-computer intearaction</a> and <a href="http://localhost:3000/tags/research">research</a>.
      </p>
      <p>
        This is my corner of the web. I use it for practicing writing. Writing also helps me to think (or forces me to). Which means I write to become better.
      </p> 
      <p>
        I don't like using LinkedIn or such for that kind of content. Interacting would be easier there, but you can try Mastodon or LinkedIn for that. I'd like it.
      </p>
      <h3>Contact</h3>
      <p>
        You can find me on <a href="https://scholar.social/@arttuv">Mastodon</a> or <a href="https://www.linkedin.com/in/arttu-viljakainen/">LinkedIn</a>.
      </p>
    </div>
  </div>
    <div class="copyright">
      <p>
      © {new Date().getFullYear()} Arttu Viljakainen. 
      All texts published are under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a> - attribution is required. Ask permission before using any of the photos on this site.
      </p>
      <p>
      Built with
      {` `}
      <a href="https://astro.build">Astro</a>, hosted on <a href="https://pages.github.com/">GitHub Pages</a>. Icons by <a href="https://webkul.github.io/vivid/">Vivid</a> and <a href="https://www.iconfinder.com/Flatart">Flatart</a> and <a href="https://icons8.com">Icons8</a>.
      </p>
  </div>
</footer>  

<style>
  footer {
    background-color: white;
    padding: 1rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  footer .copyright p {
    margin-top: 1rem;
    font-size: small;
  }

  .rss-subscribe {
    max-width: 45vw;
  }

  .footer-read-more {
    width: 45vw;
    max-width: 45vw;
  }

  .footer-read-more p {
    font-size: smaller;
  }
  .rss-subscribe h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .rss-subscribe p {
    font-size: smaller;
  }

  .rss-subscribe a {
    color: #2c78ca;
  }

  @media (max-width: 800px) {
    .footer-content {
      flex-direction: column;
    }
    .rss-subscribe {
      max-width: 100%;
    }

    .footer-read-more {
      max-width: 100%;
      width: 100%;
    }
  }

</style>