---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import svgMastodon from '../images/icons8-mastodon.svg';
import svgLinkedin from '../images/icons8-linkedin.svg';
const { pageTitle } = Astro.props;
---
<header>  
   <nav>
     <ul style={{ listStyle: `none`}}>
       {pageTitle === 'Home' ? <li><a href="/" style="text-decoration: underline;">Home</a></li> : <li><a href="/">Home</a></li>}
       {pageTitle === 'Writings' ? <li><a href="/writings/" style="text-decoration: underline;">Writings</a></li> : <li><a href="/writings/">Writings</a></li> }
       {pageTitle === 'Author' ? <li><a href="/author/" style="text-decoration: underline;">Author</a></li> : <li><a href="/author/">Author</a></li>}
     </ul>
   </nav>
   <span class="site-title">
    <a href="/" style={{ textAlign: 'center', textShadow: `none`, backgroundImage: `none`, textDecoration: `none`, color: `black` }}>
      <h1>arttuv.com</h1>
    </a>
  </span>
  <div class="header-social">
    <a href="https://scholar.social/@arttuv"><img src={svgMastodon} alt="Link to Mastodon"/></a>
    <a href="https://www.linkedin.com/in/arttu-viljakainen/"><img src={svgLinkedin} alt="Link to Linkedin"/></a>
  </div>
</header>
<style>
  header {
    width: 100%;
    margin: 0rem auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0px solid lightgray;
    background-color: #FFF;
  }

  header nav {
    min-width: 39vw;
  }
  header .site-title {
    min-width: 22vw;
  }
  header .header-social {
    min-width: 30vw;
    padding-right: 1rem;
  }

  .site-title h1 {
    font-size: 1.5rem;
  }

  .header-social {
    text-align: right;
  }

  header h1 {
    font-weight: normal;
    color: black;
  }

  nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1.0875rem;
  }

  nav ul {
    margin: 0px;
    padding-inline-start: 0px;
    text-align: left;
  }

  nav ul li {
    display: inline-block;
    margin-right: 0px;
    text-align: left;
  }

  nav ul li { 
    margin-bottom: 0rem;
  }

  nav ul li:not(:last-child) { 
    margin-right: 1rem;  
  }
  nav a, nav a:visited, nav a:active {
    color: black;
  }
  
  @media (max-width: 620px) {
  
    header {
      margin: 0px;
    }

    header nav {
      min-width: 30vw;
    }
    header .site-title {
      min-width: 22vw;
    }
    header .header-social {
      min-width: 30vw;
    }
    
    nav ul li:not(:last-child) { 
      margin-bottom: 0.5rem;
      margin-right: 0rem;
    }
  
    nav ul {
      margin-bottom: 0px;
      padding-right: 0.5rem;
    }
  
    nav ul li {
      display: block;
      margin-right: 0px;
    }

  }
</style>