---
import HeaderLink from "./HeaderLink.astro"
import SocialLinks from "./SocialLinks.astro"
import ThemeIcon from "./ThemeIcon.astro"
import MobileMenu from "./MobileMenu.astro"
---
<header>
  <div class="desktop-navigation">
    <nav>
      <ul>
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/writings">Writings</HeaderLink></li>
        <li><HeaderLink href="/author">Author</HeaderLink></li>
      </ul>
    </nav>
    <span class="site-title">
      <a href="/">Arttu Viljakainen</a>
    </span>
    <div class="header-right">
      <div class="header-social">
        <SocialLinks />
      </div>
      <div class="theme-switcher">
        <ThemeIcon />
      </div>
    </div>
  </div>
  <MobileMenu />
</header>
<style>

    .desktop-navigation {
        margin:0 auto;
        padding: 0.5rem 0 0.5rem 0;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-navigation .header-social {
        padding-right: 1rem;
    }

    .desktop-navigation .theme-switcher {
        min-width: 3vw;
        margin-right: 1.0875rem;
    }

    .site-title h1 {
        font-size: 18px;
        font-weight: 400;
    }

    .site-title a {
        text-align: center;
        text-shadow: none;
        background-image: none;
        text-decoration: none;
    }

    .header-social {
        text-align: right;
    }

    nav {
        padding-top:0;
        padding-bottom:0;
        margin-left: 1.0875rem;
    }

    nav ul {
        margin: 0;
        padding-inline-start: 0;
        text-align: left;
        list-style: none;
    }

    nav ul li {
        display: inline-block;
        margin-right: 0px;
        text-align: left;
        font-weight: 400;
    }

    nav ul li {
        margin-bottom: 0;
    }

    nav ul li:not(:last-child) {
        margin-right: 1rem;
    }

    @media (max-width: 800px) {

        .desktop-navigation {
            margin: 1rem 0 0 0;
        }

        .desktop-navigation {
            display: none;
        }

        nav {
            margin-left: 0.5rem;
        }

        nav ul li:not(:last-child) {
            margin-bottom: 0.5rem;
            margin-right:0;
        }

        nav ul {
            margin-bottom: 0px;
            padding-right: 0.5rem;
        }

        nav ul li {
            display: block;
            margin-right: 0px;
        }

        .header-social {
            display: flex;
            flex-direction: column-reverse;
        }

    }
</style>