---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>  
   <span class="site-title">
     <a href="/" style={{ textAlign: 'center', textShadow: `none`, backgroundImage: `none`, textDecoration: `none`, color: `black` }}>
       <h1>arttuv.com</h1>
     </a>
   </span>
   <nav>
     <ul style={{ listStyle: `none`}}>
       <li><a href="/">Home</a></li>
       <li><a href="/writings/">Writings</a></li>
       <li><a href="/author/">Author</a></li>
     </ul>
   </nav>
</header>