---
import svgMastodon from '../images/icons8-mastodon.svg';
import svgLinkedin from '../images/icons8-linkedin.svg';
import svgRSS from '../images/rss.svg';
import ThemeIcon from './ThemeIcon.astro';
import MobileMenu from './MobileMenu.astro';

const { title } = Astro.props;
---
<header>
  <div class="desktop-navigation">
   <nav>
     <ul style={{ listStyle: `none`}}>
       {title === 'Arttu Viljakainen, a software development consultant from Finland' ? <li><a href="/" style="text-decoration: underline;">Home</a></li> : <li><a href="/">Home</a></li>}
       {title === 'Writings' ? <li><a href="/writings/" style="text-decoration: underline;">Writings</a></li> : <li><a href="/writings/">Writings</a></li> }
       {title === 'Author' ? <li><a href="/author/" style="text-decoration: underline;">Author</a></li> : <li><a href="/author/">Author</a></li>}
     </ul>
   </nav>
   <span class="site-title">
    <a href="/" style={{ textAlign: 'center', textShadow: `none`, backgroundImage: `none`, textDecoration: `none`, color: `black` }}>
      <h1>arttuv.com</h1>
    </a>
  </span>
  <div class="header-right">
    <div class="header-social">
    <a href="https://scholar.social/@arttuv" aria-label="Link to Mastodon profile">
      <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
          <g transform="matrix(0.917819,0,0,0.917819,0.410906,0.300321)">
              <path fill="currentColor" d="M15.938,4.031C12.917,4.044 9.918,4.427 8.357,5.146C8.357,5.146 5,6.675 5,11.881C5,18.078 4.996,25.86 10.563,27.365C12.695,27.938 14.528,28.062 16.002,27.977C18.677,27.826 20,27.006 20,27.006L19.91,25.029C19.91,25.029 18.176,25.64 16.029,25.57C13.902,25.495 11.662,25.336 11.313,22.68C11.281,22.433 11.265,22.183 11.266,21.934C15.773,23.053 19.616,22.421 20.674,22.293C23.628,21.934 26.199,20.082 26.527,18.389C27.041,15.721 26.998,11.881 26.998,11.881C26.998,6.675 23.646,5.146 23.646,5.146C22.001,4.378 18.958,4.019 15.938,4.031ZM12.705,8.002C13.74,8.03 14.763,8.493 15.393,9.471L16.002,10.506L16.609,9.471C17.874,7.504 20.71,7.626 22.059,9.148C23.303,10.596 23.025,11.531 23.025,18L23.025,18.002L20.578,18.002L20.578,12.373C20.578,9.738 17.219,9.636 17.219,12.738L17.219,16L14.787,16L14.787,12.738C14.787,9.636 11.43,9.736 11.43,12.371L11.43,18L8.977,18C8.977,11.526 8.704,10.585 9.943,9.148C10.623,8.382 11.67,7.974 12.705,8.002Z" style="fill-rule:nonzero;"/>
          </g>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/arttu-viljakainen/" aria-label="Link to LinkedIn profile">
      <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 30" 
        width="30px" 
        height="30px">    
        <path fill="currentColor" d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"/>
      </svg>
    </a>
    <a href="/rss.xml" aria-label="Link to RSS-feed">
      <svg viewBox="0 0 30 30" width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(0.0275,0,0,0.0275,4,4)">
            <path fill="currentColor" d="M737.5,0L62.5,0C27.969,0 0,27.969 0,62.5L0,737.5C0,772.031 27.969,800 62.5,800L737.5,800C772.031,800 800,772.031 800,737.5L800,62.5C800,27.969 772.031,0 737.5,0ZM290.781,583.906C281.094,593.594 267.813,599.375 253.125,599.375C238.438,599.375 225.313,593.438 215.625,583.906C205.938,574.219 200,561.094 200,546.563C200,531.875 205.938,518.75 215.625,509.063C225.313,499.375 238.438,493.438 253.125,493.438C267.813,493.438 281.094,499.375 290.625,509.063C300.313,518.75 306.25,531.875 306.25,546.563C306.25,561.25 300.313,574.375 290.781,583.906ZM387.188,600C387.031,549.844 367.656,502.656 332.344,467.344C297.031,432.031 249.844,412.344 200,412.344L200,335.938C272.813,335.938 338.594,365.625 386.406,413.438C434.219,461.25 463.75,527.188 463.906,600L387.188,600ZM523.438,600C523.281,421.563 378.438,276.406 200.156,276.406L200.156,200C310.469,200 410.313,244.844 482.656,317.344C555,389.844 599.844,489.688 600,600L523.438,600Z" style="fill-rule:nonzero;"/>
        </g>
      </svg>
    </a>
  </div>
  <div class="theme-switcher">
    <ThemeIcon />
  </div>
  </div>
</div>
<MobileMenu />
</header>
<style>


  header {
    width: 100%;
  }
  .desktop-navigation {
    margin: 0rem auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0px solid lightgray;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .desktop-navigation .header-social {  
    padding-right: 1rem;
  }

  .desktop-navigation .theme-switcher {
    min-width: 3vw;
    margin-right: 1.0875rem;
  }

  .site-title h1 {
    font-size: 1.5rem;
  }

  .header-social {
    text-align: right;
  }

  nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1.0875rem;
  }

  nav ul {
    margin: 0px;
    padding-inline-start: 0px;
    text-align: left;
  }

  nav ul li {
    display: inline-block;
    margin-right: 0px;
    text-align: left;
  }

  nav ul li { 
    margin-bottom: 0rem;
  }

  nav ul li:not(:last-child) { 
    margin-right: 1rem;  
  }  
  @media (max-width: 800px) {
  
    .desktop-navigation {
      margin: 1rem 0 0 0;
    }

    .desktop-navigation {
      display: none;
    }

    nav {
      margin-left: 0.5rem;
    }
  
    nav ul li:not(:last-child) { 
      margin-bottom: 0.5rem;
      margin-right: 0rem;
    }
  
    nav ul {
      margin-bottom: 0px;
      padding-right: 0.5rem;
    }
  
    nav ul li {
      display: block;
      margin-right: 0px;
    }

    .header-social {
      display: flex;
      flex-direction: column-reverse;
    }

  }
</style>