---
import mastodonComments from "../external-data/scholar.social-arttuv.json"
import FormattedDateTime from "./FormattedDateTime.astro"
import HtmlContent from "./HtmlContent.astro"
const { statusId } = Astro.props
const data = mastodonComments[statusId]
---

{data && (
<div class="embedded-mastodon-comment">
  <HtmlContent htmlContent={data.content.content} />
  <a class="embedded-mastodon-link" href={data.content.url}>
    <FormattedDateTime date={new Date(data.content.created_at)} />
  </a>
</div>
)}

<style>
    .embedded-mastodon-comment {
        padding: 0.25rem 0 0 0;
        font-size: smaller;
    }

    :global(.embedded-mastodon-comment .html-content) {
        border-left: 1px solid black;
        padding-left: 0.5rem;
        margin-left: 0.5rem;
    }

    :global(.dark .embedded-mastodon-comment .html-content) {
        border-left: 1px solid white;
    }

    .embedded-mastodon-link {
        font-size: 0.75rem;
        color: #999;
        text-decoration: none;
        display: block;
        text-align: right;
    }

    .embedded-mastodon-link:hover {
        text-decoration: underline;
    }
</style>