---
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  <article class="blog-post">
    <div class="category">
      {frontmatter.tags.map((tag) => (
        <span><a href={`/tags/${tag}`}>{tag}</a></span>
      ))}
    </div>
    <h1>{frontmatter.title}</h1>
    <time>{<FormattedDate date={new Date(frontmatter.pubDate)}/>}</time>
    <hr />
    <slot />
  </article>
</BaseLayout>
<style>
  .blog-post {
    max-width: 56rem;
    margin: 0 auto;
  }
</style>